<footer>
    <div class="footer-container">
        <div class="footer">
            <div class="footer-heading footer-1">
                <h2>Contact</h2>
                <a href="https://github.com/CFitz-spec">GitHub</a>
                <a href="https://www.linkedin.com/in/cayman-fitzhugh-3017a7322/">LinkedIN</a>
                <a href= "mailto: cayman.fitzhugh@gmail.com">Email</a>
            </div>
            <div class="footer-heading footer-2">
                <h2>How I did it</h2>
                <ul>
                    <li>PostgresSQL</a></li>
                    <li>API calls</a></li>
                    <li>Using .env to secure data</a></li>
                    <li>Using CSS without BootStrap</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

