<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>BookReview</title>
</head>
<body>
<header>
    <nav class="navbar">
        <ul>
    <!--Here I'm trying to do a form? But Why I don't need to pass any data just render the create and contact pages
    Update -- I can just use href this makes a call to index.js. easy
    -->
            <li><a href="/">Home</a></li>
            <li><a href="/create">Create</a></li>
        </ul>
    </nav> 
</header>
    
